p, pre, h3, h4 {
  font-family: "Times New Roman", serif;
}

body {
  margin: 20px;
  color: #494343;
  background: rgb(255, 222, 228);
}

.container {
  width: 794px;      
  min-height: 1123px; 
  margin: 0 auto;     
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2); 
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.portrait img {
  border-radius: 12px;
  border: none;
}

.headline h1 {
  margin: 0;
  font-size: 25px;
  color: #0b3b8c;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #0b3b8c;
}

.dept {
  font-size: 14px;
  color: #444;
}

.section-text {
  color: #222;
  margin: 6px 0;
  line-height: 1.6;
}
.job-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* để chữ căn đẹp theo dòng */
  margin-top: 10px;
}

.job-header h4 {
  margin: 0;
}

.job-header .date {
  font-size: 1em;
  font-weight: bold;
}
.edu-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
}

.edu-header h4 {
  margin: 0;
  font-weight: bold;
}

.edu-header .date {
  font-weight: bold;
  font-size: 1em;
}
